In [1]:
import os 
# Create new folder ... 
try : 
    os.makedirs('Data')
except :
    print('You have Data folder...')

You have Data folder...

# Metatrader5 ...

In [2]:
# Import libraries ... 
import MetaTrader5 as mt5
import pandas as pd 
import datetime as dt
import os 

market_name = 'XAUUSD'  #Gold
time_to = dt.datetime.now()
time_from = time_to - dt.timedelta(days=347)
time_frame = mt5.TIMEFRAME_M5

# You can't fetching data more than nearly 67,000
# Check meta trade ... // you have to connected internet!
if not mt5.initialize():
    print('ERORR -> METAtrader can\'t run!')
data = mt5.copy_rates_range(market_name, time_frame, time_from, time_to)

# When too much data is called, it gives None output 
if data is None : 
    print('ERORR -> Try with smaller size!')
else : 
    # Chenge the data to Dataframe 
    data = pd.DataFrame(data)
    # Chenge the time column to datetime
    data.time = pd.to_datetime(data.time, unit='s')
    # Save data 
    data.to_csv(f'./data/{market_name}.csv', index=False)
data

,time,open,high,low,close,tick_volume,spread,real_volume
0,2023-11-16 21:35:00,1983.45,1983.60,1983.16,1983.18,176,30,0
1,2023-11-16 21:40:00,1983.20,1983.59,1983.16,1983.24,158,33,0
2,2023-11-16 21:45:00,1983.26,1983.79,1983.19,1983.48,179,30,0
3,2023-11-16 21:50:00,1983.48,1983.57,1983.22,1983.53,238,33,0
4,2023-11-16 21:55:00,1983.53,1983.66,1983.13,1983.31,268,33,0
...,...,...,...,...,...,...,...,...
67049,2024-10-28 21:10:00,2740.49,2741.74,2740.37,2741.74,397,36,0
67050,2024-10-28 21:15:00,2741.74,2742.68,2741.74,2742.68,253,36,0
67051,2024-10-28 21:20:00,2742.67,2743.57,2742.41,2743.37,332,36,0
67052,2024-10-28 21:25:00,2743.37,2743.58,2742.58,2742.65,370,36,0
67053,2024-10-28 21:30:00,2742.68,2743.09,2742.45,2742.69,284,36,0

# Concating two fetched data ...

In [3]:
market_name = 'XAUUSD'

# last part ...
time_two_to = dt.datetime.now()
time_two_from = time_two_to - dt.timedelta(days=347)

# first part ... 
time_one_to = time_two_from
time_one_from = time_two_from - dt.timedelta(days=347)

time_frame = mt5.TIMEFRAME_M5

# Check meta trade ... // you have to connected internet!
if not mt5.initialize():
    print('ERORR -> METAtrader can\'t run!')
data_two = mt5.copy_rates_range(market_name, time_frame, time_two_from, time_two_to)
data_one = mt5.copy_rates_range(market_name, time_frame, time_one_from, time_one_to)

if data is None : 
    print('ERORR -> Try with smaller size!')
else : 
    data_one = pd.DataFrame(data_one)
    data_two = pd.DataFrame(data_two)
    
    data_one.time = pd.to_datetime(data_one.time, unit='s')
    data_two.time = pd.to_datetime(data_two.time, unit='s')

#     data.to_csv(f'./data/{market_name}.csv', index=False)

data = pd.concat([data_one, data_two])
data.reset_index(inplace=True)
data.drop(columns=["index"],inplace=True)
data.index = data.time
data

,time,open,high,low,close,tick_volume,spread,real_volume
time,,,,,,,,
2023-05-31 23:20:00,2023-05-31 23:20:00,1963.32,1963.48,1962.32,1962.96,163,24,0
2023-05-31 23:25:00,2023-05-31 23:25:00,1962.91,1963.30,1962.74,1963.11,144,24,0
2023-05-31 23:30:00,2023-05-31 23:30:00,1963.11,1963.11,1962.64,1962.73,133,24,0
2023-05-31 23:35:00,2023-05-31 23:35:00,1962.66,1962.78,1962.41,1962.59,125,24,0
2023-05-31 23:40:00,2023-05-31 23:40:00,1962.57,1962.96,1962.55,1962.87,113,24,0
...,...,...,...,...,...,...,...,...
2024-10-28 21:10:00,2024-10-28 21:10:00,2740.49,2741.74,2740.37,2741.74,397,36,0
2024-10-28 21:15:00,2024-10-28 21:15:00,2741.74,2742.68,2741.74,2742.68,253,36,0
2024-10-28 21:20:00,2024-10-28 21:20:00,2742.67,2743.57,2742.41,2743.37,332,36,0
2024-10-28 21:25:00,2024-10-28 21:25:00,2743.37,2743.58,2742.58,2742.65,370,36,0
2024-10-28 21:30:00,2024-10-28 21:30:00,2742.68,2743.09,2742.45,2742.69,284,36,0

In [4]:
data_one

,time,open,high,low,close,tick_volume,spread,real_volume
0,2023-05-31 23:20:00,1963.32,1963.48,1962.32,1962.96,163,24,0
1,2023-05-31 23:25:00,1962.91,1963.30,1962.74,1963.11,144,24,0
2,2023-05-31 23:30:00,1963.11,1963.11,1962.64,1962.73,133,24,0
3,2023-05-31 23:35:00,1962.66,1962.78,1962.41,1962.59,125,24,0
4,2023-05-31 23:40:00,1962.57,1962.96,1962.55,1962.87,113,24,0
...,...,...,...,...,...,...,...,...
33037,2023-11-16 21:10:00,1983.89,1984.05,1982.95,1983.15,216,34,0
33038,2023-11-16 21:15:00,1983.16,1983.80,1982.93,1983.76,232,35,0
33039,2023-11-16 21:20:00,1983.77,1984.15,1983.56,1983.63,196,31,0
33040,2023-11-16 21:25:00,1983.63,1983.87,1983.29,1983.37,218,34,0
33041,2023-11-16 21:30:00,1983.37,1983.80,1983.36,1983.44,193,36,0

In [5]:
data_two

,time,open,high,low,close,tick_volume,spread,real_volume
0,2023-11-16 21:35:00,1983.45,1983.60,1983.16,1983.18,176,30,0
1,2023-11-16 21:40:00,1983.20,1983.59,1983.16,1983.24,158,33,0
2,2023-11-16 21:45:00,1983.26,1983.79,1983.19,1983.48,179,30,0
3,2023-11-16 21:50:00,1983.48,1983.57,1983.22,1983.53,238,33,0
4,2023-11-16 21:55:00,1983.53,1983.66,1983.13,1983.31,268,33,0
...,...,...,...,...,...,...,...,...
67049,2024-10-28 21:10:00,2740.49,2741.74,2740.37,2741.74,397,36,0
67050,2024-10-28 21:15:00,2741.74,2742.68,2741.74,2742.68,253,36,0
67051,2024-10-28 21:20:00,2742.67,2743.57,2742.41,2743.37,332,36,0
67052,2024-10-28 21:25:00,2743.37,2743.58,2742.58,2742.65,370,36,0
67053,2024-10-28 21:30:00,2742.68,2743.09,2742.45,2742.69,284,36,0

# Yahoo finance ...

In [6]:
import yfinance as yf

In [7]:
# Set market 
ticker = yf.Ticker('BTC-USD')
# Fetching data 
ticker.history(start='2020-01-01', end=dt.datetime.now())

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-01 00:00:00+00:00,7194.892090,7254.330566,7174.944336,7200.174316,18565664997,0.0,0.0
2020-01-02 00:00:00+00:00,7202.551270,7212.155273,6935.270020,6985.470215,20802083465,0.0,0.0
2020-01-03 00:00:00+00:00,6984.428711,7413.715332,6914.996094,7344.884277,28111481032,0.0,0.0
2020-01-04 00:00:00+00:00,7345.375488,7427.385742,7309.514160,7410.656738,18444271275,0.0,0.0
2020-01-05 00:00:00+00:00,7410.451660,7544.497070,7400.535645,7411.317383,19725074095,0.0,0.0
...,...,...,...,...,...,...,...
2024-10-24 00:00:00+00:00,66653.703125,68798.960938,66454.101562,68161.054688,31414428647,0.0,0.0
2024-10-25 00:00:00+00:00,68165.296875,68722.156250,65521.792969,66642.414062,41469984306,0.0,0.0
2024-10-26 00:00:00+00:00,66628.734375,67317.921875,66360.593750,67014.695312,19588098156,0.0,0.0
2024-10-27 00:00:00+00:00,67023.476562,68221.312500,66847.226562,67929.296875,16721307878,0.0,0.0
2024-10-28 00:00:00+00:00,67939.539062,69854.609375,67560.382812,69515.054688,36632780800,0.0,0.0

In [8]:
ticker = 'GC=F' #Gold (XAUUSD)
time_to = dt.datetime.now() 
time_from = (time_to - dt.timedelta(days=6)).strftime("%Y-%m-%d")
stock_data = yf.download(ticker, start=time_from, end=time_to, interval='5m')
stock_data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-10-23 00:00:00-04:00,2760.300049,2760.600098,2759.800049,2760.100098,2760.100098,0
2024-10-23 00:05:00-04:00,2760.100098,2761.300049,2759.199951,2760.800049,2760.800049,437
2024-10-23 00:10:00-04:00,2760.800049,2761.899902,2760.699951,2761.800049,2761.800049,289
2024-10-23 00:15:00-04:00,2761.800049,2763.500000,2761.000000,2762.699951,2762.699951,895
2024-10-23 00:20:00-04:00,2762.600098,2763.899902,2762.300049,2762.699951,2762.699951,1101
...,...,...,...,...,...,...
2024-10-28 16:35:00-04:00,2754.500000,2754.699951,2754.300049,2754.399902,2754.399902,107
2024-10-28 16:40:00-04:00,2754.399902,2754.500000,2754.100098,2754.199951,2754.199951,106
2024-10-28 16:45:00-04:00,2754.300049,2755.300049,2754.300049,2755.100098,2755.100098,137
2024-10-28 16:50:00-04:00,2755.000000,2755.399902,2754.699951,2754.800049,2754.800049,96
2024-10-28 16:55:00-04:00,2754.899902,2755.000000,2754.500000,2754.699951,2754.699951,100

# Web crawler ...

In [9]:
#Fetching price from wallex exchange real time! 
#Import useful libraries ... 
import requests 
from requests.exceptions import ConnectionError
from bs4 import BeautifulSoup
#https://wallex.ir/buy-and-sell/btc

def web_content_div(web_content, class_path):
    web_content_div = web_content.find_all('div',{'class':class_path})
    try:
        spans = web_content_div[0].find_all('span')
        texts = [span.get_text() for span in spans]
    except IndexError:
        texts = []
    return texts

def real_time_price(stock_code):
    url = 'https://wallex.ir/buy-and-sell/' + stock_code
    try: 
        r = requests.get(url)
        web_content = BeautifulSoup(r.text, 'lxml')
        texts = web_content_div(web_content, 'MuiTypography-root MuiTypography-BodyLargeRegular mui-1os5l28')
        if texts != []:
            price = texts[0]
        else:
            price, change = [], []
    except ConnectionError:
        price, change = [], []
    return price

#List of name's stock market that you wan't get data
Stock = 'btc'
print(real_time_price(Stock).replace(',',''))

69199.99

In [10]:
# featching data USDT from abantether ... 
def web_content_div(web_content, class_path):
    web_content_div = web_content.find_all('div',{'class':class_path})
    try:
        buy = int(web_content_div[1].find_all('p')[0].get_text().replace(',', ''))
        sell = int(web_content_div[2].find_all('p')[0].get_text().replace(',', ''))
    except IndexError:
        buy = 0
        sell = 0
    return buy, sell 

def real_time_price(stock_code):
    url = 'https://abantether.com/coin/'+ stock_code
    try: 
        r = requests.get(url)
        web_content = BeautifulSoup(r.text, 'lxml')
        buy, sell = web_content_div(web_content, 'Price_container__DkERw')
        if ((buy != 0)&(sell != 0)):
            print(f'buy : {buy}')
            print(f'sell : {sell}')
    except:
        print('something is wrong!')
        
    return buy, sell
    
 
Stock = 'USDT'
buy,sell = real_time_price(Stock)

buy : 68120
sell : 67580